* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

strong {
  font-weight: 600;
}

body {
  color: rgb(40, 40, 40);
  font-family: rubik;
  font-size: 3rem;
  margin: 5rem 5rem 3rem 8rem;
  line-height: 4.2rem;
  background-color: rgb(255, 242, 216)
  ;
}

h2 {
  font-size: 5rem;
  margin-bottom: 5rem;
}

h3 {
  margin-top: 5rem;
  margin-bottom: 2rem;
  font-size: 3.4rem;
}

p {
  margin-bottom: 2rem;
}

li {
  margin-left: 2rem;
  line-height: 4.9rem;
}

ul {
  margin-top: 3rem;

  margin-bottom: 4rem;
}

a:link, a:visited {
  font-weight: 600;
  color: rgb(40, 40, 40);
}
/* 
a:hover, a:active {
} */